<!DOCTYPE html>
<html>
  <head>
    <title>Christian R. Simpson</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	  <!-- Optional theme -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	  <!-- Latest compiled and minified JavaScript -->	
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
  <body>	
  	<ul class="navbar navbar-inverse navbar-fixed-top">
  		<a class="btn btn-info  btn-lg" href="/">Home</a>
  		<a class="btn btn-info  btn-lg" href="projects">Projects</a>
      <a class="btn btn-info  btn-lg" href="/about">About Me</a>
      <a class="btn btn-info  btn-lg" href="/contact">Contact Me</a>
      <a class="btn btn-info  btn-lg" href="/services">Services</a>
  	</ul>
  