<%- include partials/header.ejs %>
    <h1>About Me</h1>
    <div class="jumbotron">
    	<div class="container">
    	<p class="col-sm-5">	
    		I am 19 years old and I love anything to do with computers thats why i am in the computer programming course. I am currently living in an appartment with 4 other of my friends. I usually in my spare time play video games and practice coding.
    	</P>
      <p class="col-sm-5"> 
        I have experience with Java, HTML/CSS, Javascript, C#, mySQL, PHP, and and currently learning the MEAN stack or Mongo DB, Express, Angular, Node.js
      </P>
    </div>
   	</div>
   	<div class="pull-right">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="https://www.facebook.com/"><i class="fa fa-facebook-official fa-2x"></i></a>
          <a href="https://github.com/ChristianRSimpson"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.reddit.com/user/Spiderguy25/"><i class="fa fa-reddit fa-2x"></i></a>
          <a href="http://steamcommunity.com/profiles/76561198043285239" ><i class="fa fa-steam-square fa-2x"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
