<%- include partials/header.ejs %>
    <h1>About Me</h1>
    <div class="jumbotron">
    	<div class="container">
    	<div class="col-sm-6">	
        <h2>Who is Me?</h2>
    		<p class="text-justify">
          My name is Christian Simpson and I am 19 years old and I love anything to do with computers thats why I am in the computer programming course. I am currently living in an appartment with 4 other of my friends. I usually in my spare time play video games of all kinds. i think of it like this, if a game is fun I will play it other than that I will try to practice coding as often as I can.
        </p>
    	</div>

      <div class="col-sm-6"> 
        <h2>My Expiriences</h2>
        <p class="text-justify">
         I have experience with Java, HTML/CSS, Javascript, C#, mySQL, PHP, and and currently learning the MEAN stack or Mongo DB, Express, Angular, Node.js

         I have also had experience with mainframes and even had a Coop with BMO and worked as a junior Analyst there. I had to learn a new coding language called REXX in order for me to code organizational scripts for them.
        </p>      
      </div>

    </div>
   	</div>
   	<div class="pull-right">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="https://www.facebook.com/"><i class="fa fa-facebook-official fa-2x"></i></a>
          <a href="https://github.com/ChristianRSimpson"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.reddit.com/user/Spiderguy25/"><i class="fa fa-reddit fa-2x"></i></a>
          <a href="http://steamcommunity.com/profiles/76561198043285239" ><i class="fa fa-steam-square fa-2x"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
