<%- include partials/header.ejs %>
    <h1>About Me</h1>
    <div class="jumbotron">
    	<div class="container">
    	<p>	
    		Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it Get Turnt 420 Blaze it 
    	</P>
    </div>
   	</div>
  </body>
</html>
