<%- include partials/header.ejs %>
    <h1>Contact Me</h1>
    <div class="jumbotron">
    	<div class="container">
        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              My Emails
            </div>
            <div class="panel-body">
              ChristianRSimpson25@gmail.com
            </div>
            <div class="panel-body">
              200294886@student.georgianc.on.ca
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              My Work Phone
            </div>
            <div class="panel-body">
              519-215-2127
            </div>
            <div class="panel-body">
              Well my only phone number really
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              My Address
            </div>
            <div class="panel-body">
              148 Bellfarm Rd Barrie Ontario
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              My Work Phone
            </div>
            <div class="panel-body">
              519-215-2127
            </div>
          </div>
        </div>

   	  </div>
    </div>
   	<div class="pull-right">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="https://www.facebook.com/"><i class="fa fa-facebook-official fa-2x"></i></a>
          <a href="https://github.com/ChristianRSimpson"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.reddit.com/user/Spiderguy25/"><i class="fa fa-reddit fa-2x"></i></a>
          <a href="http://steamcommunity.com/profiles/76561198043285239" ><i class="fa fa-steam-square fa-2x"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
