<%- include partials/header.ejs %>
    <h1>Home</h1>
    <div class="jumbotron">
    	<div class="container">
    	<p>	
    		what what what what what what what what what what what what what what what what what what what what
    	</p>
    </div>
   	</div>
  </body>
</html>
