<%- include partials/header.ejs %>
    <h1>Home</h1>
    <div class="jumbotron">
    	<div class="container">
    	<p>	
    		Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat
    	</p>

    	<img class="img-rounded" src="https://pbs.twimg.com/profile_images/2543790696/gzjitfphn35pd7luh0gx.jpeg" alt="Cave Johnson" />
    </div>
   	</div>
   	<div class="navbar navbar-default navbar-static-bottom">
   		<p>FACEBOOK<span class="social social-facebook"></span></p>
   	</div>
  </body>
</html>
