<%- include partials/header.ejs %>
    <h1>Projects</h1>
    <div class="jumbotron">
    	<div class="container">

      <div class="media">
        <div class="media-left"
        <a href="#">
          <img class="media-object" src="https://s3-us-west-2.amazonaws.com/taywils.me.static.files/images/java.png" alt="Java"/>
        </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Java Store App</h4>
          This is what im currently working on for Advanced Object Oriented Programming. It involves being able to create employees and products and store each in an array and take information out.
        </div>
      </div>

      <div class="media">
        <div class="media-left"
        <a href="#">
          <img class="media-object" src="https://s3-us-west-2.amazonaws.com/taywils.me.static.files/images/java.png" alt="Java"/>
        </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Banking App</h4>
          During my first year I had to make an app that could create customers and accounts for them. The customers had to be able to access their accounts and add, transfer, and withdraw money. 
        </div>
      </div>

      <div class="media">
        <div class="media-left"
        <a href="#">
          <img class="media-object" src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/64/Apps-HTML-5-Metro-icon.png" alt="Java"/>
        </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Web Page for a Product</h4>
          During my first year i had to make a web page for a product that was around before the internet and i chose to make one for the etch-a-sketch, i didnt host it on anything however because it was the first year. 
        </div>
      </div>

      <div class="media">
        <div class="media-left"
        <a href="#">
          <img class="media-object" src="http://38.media.tumblr.com/avatar_1c3e3365ab99_64.png" alt="Java"/>
        </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">This Portfolio</h4>
          Using the MEAN stack of Node.js, Javascript, Angular, and Express i will update and monitor this web page. This will be an ongoing project and i will update it over time with experiences and use it as an online resume.
        </div>
      </div>


    </div>
   	</div>
   	<div class="pull-right">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="https://www.facebook.com/"><i class="fa fa-facebook-official fa-2x"></i></a>
          <a href="https://github.com/ChristianRSimpson"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.reddit.com/user/Spiderguy25/"><i class="fa fa-reddit fa-2x"></i></a>
          <a href="http://steamcommunity.com/profiles/76561198043285239" ><i class="fa fa-steam-square fa-2x"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
