<%- include partials/header.ejs %>
    <h1>Projects</h1>
    <div class="jumbotron">
    	<div class="container">
    	<p>	
    		Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat Turnt down for Hwat 
    </div>
   	</div>
  </body>
</html>
