<%- include partials/header.ejs %>
    <h1>Services</h1>
    <div class="jumbotron">
    	<div class="container">
    	<p>	
    		OH NO LOOK OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE, NO NOT THERE OVER THERE
    	</p> 
    </div>
   	</div>
   	<div class="pull-right">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="https://www.facebook.com/"><i class="fa fa-facebook-official fa-2x"></i></a>
          <a href="www.github.com"><i class="fa fa-github fa-2x"></i></a>
          <a href="www.reddit.com"><i class="fa fa-reddit fa-2x"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
