<%- include partials/header.ejs %>
    <h1>Contact Me</h1>
    <div class="jumbotron">
    	<div class="container">
    	<p>	
    		Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns Magic and numbers and science and unicorns 
    	</p>
   	</div>
   </div>
   	<div class="pull-right">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="https://www.facebook.com/"><i class="fa fa-facebook-official fa-2x"></i></a>
          <a href="www.github.com"><i class="fa fa-github fa-2x"></i></a>
          <a href="www.reddit.com"><i class="fa fa-reddit fa-2x"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
