<%- include partials/header.ejs %>
    <h1>Home</h1>
    <div class="jumbotron">
    	<div class="container">
    	<p>	
        <div class="container text-center">
          <div >
            <img class="img-rounded" src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/12118599_512233075619940_5379913820730520339_n.jpg?oh=a2df5200f7d7fb0dcd30704fab622d11&oe=56A38589" alt="Christian Simpson" height="200"/>
          </div>
              <p class="navbar-text">
                Welcome to my webpage. 
                Enjoy your stay 
                feel free to check me 
                out at the links at the   
                bottom and learn about 
                some projects that I 
                currently have ongoing 
                or are done. 
              <p> 
        </div>
      </div>
   	</div>
    <div class="pull-right">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="https://www.facebook.com/profile.php?id=100004997565921"><i class="fa fa-facebook-official fa-2x"></i></a>
          <a href="https://github.com/ChristianRSimpson"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.reddit.com/user/Spiderguy25/"><i class="fa fa-reddit fa-2x"></i></a>
          <a href="http://steamcommunity.com/profiles/76561198043285239" ><i class="fa fa-steam-square fa-2x"></i></a>

        </div>
      </div>
    </div>
  </body>
</html>
